.main{
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
    color: #206ECA;
}

.copy{
    justify-content: space-between;
    padding: 2rem;
    display: flex;
    flex-direction: row;

}

.symbol{
    margin-right: 1vw;
}

@media (max-width: 700px){
    .main{
        height: 5vh;
        padding: 0;
    }
    .main h1{
        padding: 0;
        font-size: 12px;
    }
    .copy{
        padding: 1rem;
    }
}