.main {
    display: flex;
    justify-content: flex-start;
    width: 98vw;
    height: 70vh;
    /*background-image: radial-gradient( farthest-side at 0% 100%, rgba(255, 255, 255, 0.01), #206ECA);*/
    background-image: url("/CameronCrane.jpg");
    background-size: 100%;
    border-radius: 2rem;
    border: grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.main h1 {
    display: flex;
    text-align: left;
    padding-left: 4vw;
    font-size: 80px;
    color: White;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.463);
}

.greenify{
    padding-left: 1vw;
    color: #BCDB01;
}

.linearwipegreen {
    text-align: center;
    background: linear-gradient(to right, #BCDB01 20%, rgb(190, 228, 132) 40%, rgb(196, 241, 128) 60%, #BCDB01 80%);;
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    fill: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 3s linear infinite;
    
  }

.linearwipe {
    text-align: center;
    background: linear-gradient(to right, #c9c9c9 20%, rgb(228, 227, 227) 40%, rgb(255, 255, 255) 60%, #c9c9c9 80%);;
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    fill: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 3s linear infinite;
    
  }
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.main h2 {
    display: flex;
    padding-left: 4vw;
    margin-top: 14vh;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.85);
}

.main h3 {
    display: flex;
    padding-left: 4vw;
    padding-top: 2vh;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.85);
}

.main Button{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 4vw;
    margin-top: 6vh;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.leftDiv{
    margin-top: 4vh;
}

.rightDiv{
    margin-top: 3vh;
    margin-left: 8vw;
}

.images{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imageListItems {
    margin: 0;
}


@media (max-width: 700px) {
.main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
    background-image: url("/NicePoliceStationOutside.png");
    background-size: 100% 100%;
}

.greenify{
    padding-left: 2vw;
}

.main h1{
    text-align: center;
    margin-left: 1vw;
    font-size: 35px;
    text-align: center;
}
.main .push {
    margin-left: 6vw;
}

.main h2{
    margin-left: 2vw;
    margin-top: 7vh;
    font-size: 20px;
}

.main h3{
    margin-left: 0vw;
    font-size: 11px;
}

.main Button{
    margin-left: 18vw;
    margin-top: 4vh;
    font-size: 15px;
}

.leftDiv {
    margin-top: 3vh;
    width: 80vw;
}
.MuiImageList-root{
    column-count: 3 !important;
}
.rightDiv{
    margin-top: -2vh;
    margin-left: 5vw;
}
.images{
    overflow: scroll;
    scrollbar-color: white;
    height: 33vh;
    width: 85vw;
    margin-right: 5vw;
}
}