.main {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}
.textContainer{
    width: 90vw;
    text-align: center;
}
.main h1{
    color: #206ECA;
    text-shadow: 0 0 90px rgba(68, 0, 255, 0.663);
    font-size: 80px;
    margin-left: 4vw;
}

.cardcontainer{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card{
    border-radius: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    width: 35vw;
    height: 45vh;
    text-align: center;
    background-image: radial-gradient( farthest-corner at 100% 50%, rgba(255, 255, 255, 0.01), #206ECA);
}

.arrowcircle{
    fill: #BCDB01;
    height: 20vh;
    width: 20vw;
}

@media (max-width: 700px) {
.main{
    margin-top: 10vh;
    width: 95vw;
}
.textContainer{
    width: 95vw;
}
.main h1 {
    text-align: center;
    padding-top: 2vh;
    margin-left: 0;
    font-size: 28px;
} 

.cardcontainer {
    flex-direction: column;
}
.card {
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 50vh;
}
.card h2{
    font-size: 40px;
}
.arrowcircle {
    rotate: 90deg;
}
}